<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="InventorySalesDebtorsSytem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="InventorySalesDebtorsSystemEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TILANITHOTAMUNE\SQLEXPRESS;Initial Catalog=InventorySalesDebtorsSystem;Persist Security Info=True;User ID=sa;Password=testing;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="InventorySalesDebtorsSytem.Properties.Settings.InventorySalesDebtorsSytemsConnectionString"
      connectionString="Data Source=TILANITHOTAMUNE\SQLEXPRESS;Initial Catalog=InventorySalesDebtorsSystem;Persist Security Info=True;User ID=sa;Password=testing"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <InventorySalesDebtorsSytem.Properties.Settings>
      <setting name="VIBlendTheme" serializeAs="String">
        <value>RETROBLUE</value>
      </setting>
    </InventorySalesDebtorsSytem.Properties.Settings>
  </userSettings>
</configuration>
